@import url('../vendor/tui-pagination/dist/tui-pagination.css');
@import url('../vendor/tui-grid/dist/tui-grid.css');
@import url('../vendor/tailwind/css/tailwind.min.css');
@import url('../vendor/fontawesome-free-5.15.4-web/css/all.css');
@import url('../vendor/pikaday/css/pikaday.css');
@import url('../vendor/pretendard/dist/web/variable/pretendardvariable.css');

:root {
  --text-color: #ffffff;
  --border-color: #8a8a8a;
  --bg-light: #f6f7fa;
  --bg-dark: #2d3748;
  --hover-bg: #4a5568;
  --font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue";
  --primary-color: #0058a3;
  --secondary-color: #ffcc00;
  --error-color: #e53e3e;
  --warning-color: #dd6b20;
  --success-color: #10b981;
  --info-color: var(--primary-color);
  --highlight-color: #edf2f7;
  --scrollbar-color: hsl(240, 25%, 100%);
  --scrollbar-thumb-color: var(--secondary-color);
  --gnb-height: 55px;

  --gnb-item-color: #e3e7ee;
  --gnb-item-font-size: 0.8rem;
  --gnb-item-font-weight: 600;
  --gnb-item-padding: 0.5rem 1rem;
  
  --input-color: #333;
  
  --border-radius: 0.375rem;
  --button-radius: 0.25rem;

  --icon-color: #718096;
  --badge-hover-color: #003693;
  --shadow-color: rgba(0, 0, 0, 0.4);
  --border-light: #ddd;
  --modal-bg: rgba(0, 0, 0, 0.5);
  --table-bg: #e1e1e1;
  --filter-bg: #f1f1f1;

  --dark-color: hsl(240, 20%, 20%);
  --dropdown-divider-color: hsl(210, 8%, 90%);
  --text-muted-color: hsl(212, 8%, 68%);
  --heading-color: hsl(210, 18%, 28%);

  --body-color: #3b4754;
  --primary-hover-color: #070718;
  --primary-shadow-color: #666666;
}

body {
  font-family: var(--font-family);
  font-weight: 500;
  color: var(--input-color);
  scrollbar-color: var(--scrollbar-thumb-color) transparent;
  scrollbar-width: thin;
}


#content {
  margin-top: 20px;
  margin-left: 10px;
  padding: 75px 30px 0px 60px;
}


#floatingNav button {
  transition: transform 0.2s ease;
}

#floatingNav button:hover {
  transform: scale(1.05);
}

.breadcrumb {
  font-size: 1.1rem;
  font-weight: var(--gnb-item-font-weight);
  color: var(--primary-color);
  text-transform: uppercase;
  position:absolute;
  left:80px;
  top:75px;
}

.menu-text {
  font-size: 0.8rem;
  font-weight: var(--gnb-item-font-weight);
}

.collapsed {
  width: 55px;
}

.expanded {
  width: 160px;
  
}

.collapsed .menu-text {
  display: none;
}

.collapsed .menu-icon {
  font-size: 20px;
  text-align: center;
}

#expandOffCanvas,
#collapseOffCanvas {
  position: absolute;
  bottom: 50px;
  right: 10px;
}

.collapsed #expandOffCanvas {
  display: block;
}

.collapsed #collapseOffCanvas {
  display: none;
}

.expanded #expandOffCanvas {
  display: none;
}

.expanded #collapseOffCanvas {
  display: block;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.menu-item i {
  margin-right: 14px;
}

.collapsed .menu-item i {
  margin-right: 0;
}

.gnb-menu {
  height: var(--gnb-height);
  background: var(--bg-dark);
  padding: var(--gnb-item-padding);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.gnb-item {
  display: flex;
  font-size: var(--gnb-item-font-size);
  font-weight: var(--gnb-item-font-weight);
  text-transform: uppercase;
  color: var(--gnb-item-color);
  padding: var(--gnb-item-padding);
  border-radius: 0.375rem;
  position: relative;
  overflow: hidden;
}

.gnb-item i {
  font-size: 1rem;
  margin-right: 0.6rem;
  color: #718096;
}

.gnb-item:hover {
  background-color: #edf2f7;
  color: var(--bg-dark);
}

.gnb-item:hover i {
  color: var(--bg-dark);
}

.gnb-item.active {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.gnb-item.active i {
  color: var(--text-color);
}

.gnb-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: var(--text-color);
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.gnb-item:hover::after {
  width: 80%;
}

.tabs {
  display: flex;
  gap: 25px;

}

.tabs li {
  margin-bottom: 10px;
  line-height: calc(1.5rem - 3px);
}

#memberIcon {
  position: absolute;
  right: 20px;
  top: 2px;
  font-size: 1.25rem;
  background: var(--bg-dark);
  border-radius: 50%;
  cursor: pointer;
}

#memberIcon:hover {
  background: var(--hover-bg);
  color: var(--text-color);
}

.logo-text {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: var(--gnb-item-font-weight);
}

.menu-icon {
  transition: color 0.3s ease;
}

.menu-item:hover .menu-icon {
  color: var(--primary-color);
}

#languageSwitcher img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#languageSwitcher img:hover {
  transform: scale(1.1);
}

@media (max-width: 1550px) {
  .flex-col {
    flex-direction: column;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:mb-0 {
    margin-bottom: 0;
  }

  .lg\:space-y-0 {
    margin-bottom: 0;
  }

  .lg\:space-x-2>*+* {
    margin-left: 0.5rem;
  }

  .flex-col>div {
    padding: 10px 0;
  }
}

@media (max-width: 1500px) {
  .flex2 {
    flex-wrap: wrap;
  }

  .flex2>div {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .flex2>.flex-col {
    flex-direction: row;
    justify-content: space-between;
  }
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.active-tab {
  background-color: var(--primary-color) !important;
  color: var(--scrollbar-thumb-color) !important;
  font-weight: var(--gnb-item-font-weight);
  font-size: 1rem;
}

.fs-4 {
  font-size: 1rem;
}

.mt-1 {
  margin-top: 0.25rem;
  border: 1px solid #888;
}

.dropdown {
  position: absolute;
  top: 15px;
  right: 75px;

}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--scrollbar-thumb-color);
  font-size: 1.475rem;
  cursor: pointer;
  background: none;
  border: none;
}

.dropdown-header {
  padding: 1rem 1rem 1rem 1.5rem;
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  right: 90px;
  display: none;
  overflow: hidden;
  color: var(--input-color) !important;
  background-color: var(--bg-light);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  z-index: 50;
  width: 180px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu-end {
  right: 0;
  left: auto;
}

.dropdown-item {
  display: block;
  width: 100%;
  white-space: nowrap;
  padding: 0.5rem 3rem 0.5rem 1.5rem;
  cursor: pointer;
  color: var(--heading-color);
}

.dropdown-item:hover {
  color: var(--heading-color);
  background-color: hsla(210, 29%, 19%, 0.06);
}

.dropdown-shortcuts-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid #ddd;
  font-size: 1.0rem;
  font-weight: var(--gnb-item-font-weight);
  color: var(--input-color);
}

.dropdown-shortcuts-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: var(--secondary-color);
  background-color: hsl(220, 9%, 94%);
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.border-bottom {
  border-bottom: 1px solid var(--border-color);
}

.toast {
  position: fixed;
  top: 10px;
  right: 20px;
  min-width: 250px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 6px;
  font-size: 1rem;
  color: #fff;
  z-index: 99;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s, transform 0.3s;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

.toast-success {
  background-color: #38a169;
}

.toast-warning {
  background-color: #dd6b20;
}

.toast-info {
  background-color: var(--primary-color);
  color: var(--scrollbar-thumb-color);
}

.toast-error {
  background-color: #e53e3e;
}

.tui-grid-cell.tui-grid-cell-row-header,
.tui-grid-cell.tui-grid-cell-header {

  font-family: var(--font-family) !important;
  background-color: var(--bg-light);
  color: var(--input-color);
  font-size: 0.95rem !important;
  font-weight: 500;
}

.tui-grid-cell {
  font-family: var(--font-family) !important;
  font-size: 0.95rem !important;
  font-weight: 500;

}

.tui-grid-layer-editing input {
  font-family: var(--font-family) !important;
  font-weight: 600;
  font-size: 1rem !important;
  padding: 1px !important;
  margin: 0 !important;
}

.tui-grid-layer-editing input:focus {
  border: 1px solid #fff !important;
  font-family: var(--font-family) !important;
}

.tui-grid-check-input,
input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

.summary-row {
  font-family: var(--font-family) !important;
  font-weight: 600;
  background-color: #e1e1e1 !important;
  background: #e1e1e1 !important;
}

.tui-grid-summary-area {
  font-family: var(--font-family) !important;
  position: sticky;
  bottom: 0;
  z-index: 20;
  background: #e1e1e1 !important;
  background-color: #e1e1e1 !important;
}

.tui-grid-filter-container {
  background-color: var(--filter-bg) !important;
}

  

.tui-grid-filter-container select {
  font-family: var(--font-family) !important;
  border-radius: 3px;
  font-size: 14px;
  background-color: #ffffff;
  height: 30px !important;
  height: 16px !important;
}

.tui-grid-filter-container input {
  font-family: var(--font-family) !important;
  border-radius: 3px;
  font-size: 15px;
  background-color: #ffffff;
  margin-top: 15px !important;
  height: 28px !important;
  width: 210px !important;
}


.modal {
  background-color: var(--modal-bg);
}


#modal>div {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 8px;

  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#modal h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#modal p {
  flex-grow: 1;
  overflow: auto;
}

.relative .fa-calendar-alt {
  pointer-events: none;
}

.bg-blue-500 {
  background-color: var(--primary-color) !important;
}

.shadow-md {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.6rem;
  cursor: pointer;
}

.time-select-icon {
  position: relative;
}

.time-select-icon::before {
  content: '\f017';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--input-color);
  pointer-events: none;

}


.draggable {
  cursor: move;
}

.droppable {
  border: 2px dashed #ccc;
}

.grid-container {

  background-color: #fefefe;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

.inProgress {
  border-color: var(--primary-color);
}

.pending {
  border-color: #ffcc00;
}

.risk {
  border-color: #ef4444;
}

.success {
  border-color: #10b981;
}

.fail {
  color: var(--input-color);
}

.badge {
  position: absolute;
  top: 5px;
  left: 10px;
  background-color: var(--primary-color) !important;
  color: white;
  padding: 3px 8px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  z-index: 10;
}

.badge:hover {
  background-color: #003693;
}

.ikea-yellow-border {
  border-color: #ffcc00;
}

.normal-ddd-border {
  border: 1px solid #ddd;
}

select {
  width: 150px;
  height: calc(1.5em + 6px);
  padding-left: .35rem;
  padding-right: .75rem;
  padding-top: .19rem;
  padding-bottom: .29rem;
  border-radius: .25rem;
  font-size: 14px;
  border: 1px solid var(--primary-color) !important;

  background-color: white;
  color: var(--input-color);

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

}

input[type="text"],
input[type="password"],
input[type="time"],
input[type="number"],
input[type="month"],
input[type="date"] {
  border: 1px solid var(--primary-color) !important;
  height: calc(1.5rem + 4px);
  padding-left: .35rem;
  padding-right: .75rem;
  padding-top: .35rem;
  padding-bottom: .36rem;
  border-radius: .25rem;
}



input[type="submit"],
button[type="submit"],
button[type="button"],
input[type="button"],
button {
  height: 29px;
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: .13rem;
  padding-bottom: .47rem;
  border-radius: .25rem;
}


textarea {
  padding: 2px;
  font-size: .95rem;
  border: 1px solid var(--primary-color) !important;
  border-radius: 3px;
  background-color: white;
  color: var(--input-color);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

label {
  font-size: .95rem;
  line-height: 1.25rem;
  color: #333;
}

.sortable:hover {
  cursor: pointer;
}

.editable {
  cursor: pointer;
}

.editable:hover {
  background-color: #f1f1f1;
}

#panelContainer {
  display: flex;
  margin-top: 20px;
  height: 400px;
  overflow-x: auto;
}

.panel {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  height: 400px;
  overflow-x: auto;
}

#comparisonPanel {
  flex: 1.5;
  height: 400px;
  overflow-x: auto;

}



.day-header {
  border: 1px solid #333;
  color: #333;
  text-transform: uppercase;
  padding: 3px;
  border-radius: 3px;
  margin: 5px;
  font-size: 0.875rem;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.handsontable {
  z-index: 41 !important;
}

.ht_clone_top,
.ht_clone_left,
.ht_clone_top_left_corner {
  z-index: 41 !important;
}

.htContextMenu {
  z-index: 41 !important;
}

.handsontable .ht_editor {
  z-index: 41 !important;
}

.handsontable .htTooltip {
  z-index: 41 !important;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.2rem 0.5rem 0 hsla(210, 30%, 20%, 0.1);
  border-radius: var(--border-radius);
}

.tab-link {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
}

.tab-link i {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.tab-link span {
  display: flex;
  align-items: center;
  line-height: 1;
}

.dropdown-divider {
  height: 0;
  margin: 0.25rem 0;
  overflow: hidden;
  border-top: 1px solid var(--dropdown-divider-color);
  opacity: 1;
}

.avatar {
  position: relative;
  width: 2.375rem;
  height: 2.375rem;
  cursor: pointer;
}

.avatar.avatar-online::after,
.avatar.avatar-offline::after,
.avatar.avatar-away::after,
.avatar.avatar-busy::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 3px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  box-shadow: 0 0 0 2px #fff;
}

.avatar.avatar-online::after {
  background-color: #71dd37;
}

.avatar .avatar-initial {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #eeedf0;
  font-size: 0.9rem;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.border-primary {
  border-color: var(--primary-color) !important;
}

.text-muted {
  opacity: 1;
  color: var(--text-muted-color);
}

.width-0 {
  width: 0%;
}

.width-80 {
  width: 80%;
}

.width-40 {
  width: 40%;
}

.width-70 {
  width: 70%;
}

.width-50 {
  width: 50%;
}

.a-link {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

.p-info {
  padding: 10px;
  color: var(--warning-color);
}

.favo-1 {
  cursor: pointer;
  margin-right: 10px;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  border-radius: 52%;
  font-size: 15px;
  font-weight: bold;
}

.favo-2 {
  cursor: pointer;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  border-radius: 52%;
  font-size: 15px;
  font-weight: bold;
}

.a-map {
  width: 300px;
  height: 200px;
  background-color: var(--highlight-color);
}

.modal-content {
  background: #fff;
  padding: 10px;
  border-radius: 6px;
  width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.status-box {
  border: 2px solid;
  padding: 10px;
  text-align: center;
  margin: 10px;
  width: 120px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  cursor: pointer;
  position: relative;
}

.status-box .tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8px;
  padding: 8px 12px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 10;
  font-size: 0.8rem;

  transition: opacity 0.3s;
}

.status-box:hover .tooltip {
  display: block;
  opacity: 1;
}

.status-box small {
  font-size: 0.7rem;
  color: #666;
}

#hotel-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  width: 100%;
  margin-top: 1rem;
  ;
}

#control-panel {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}

.floor {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  height: calc(100vh - 200px);
}

.room {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;

  background-color: #0058a3;
  color: #ffcc00;

  border: 1px solid #ddd;
  border-radius: 6px;

  box-sizing: border-box;
  position: relative;

}

.room-title {
  flex: 0 0 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px 5px 0px;
  font-size: 1.1em;
}

.room-info {
  flex: 1;
  background-color: #ffffff;
  color: #333;
  padding: 10px;
  overflow: auto;
}




.modal-content label {
  display: block;
  margin: 10px 0 5px;
}

.modal-content input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 10px;
  color: white;
  padding: 2px 8px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
}

.reservation-item {
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
}

.custom-grid {
  height: 40vh;
  width: 100%;
  margin-top:10px;

}

.custom-header {
  background-color: #0058a3;
  color: #ffcc00;
  font-weight: 500;
}

.custom-cell {
  font-weight: 500;
}

.history-button {
  background-color: #0058a3;
  color: #ffcc00;
  padding: 0px 5px 35px 5px;
  cursor: pointer;
  font-size: 0.9rem;
  height: 22px;
  border-radius: 3px;
}

.history-button:hover {
  background-color: #004080;
}

#historyModal {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background: white;
  padding: 1rem;
  z-index: 50;
  
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

#historyModal pre {
  background: #f9f9f9;
  padding: 1rem;
  border: 1px solid #ccc;
  max-height: 400px;
  overflow-y: auto;
}

#charts {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 360px;
}

#lineChart,
#pieChart {
  width: 100%;
  
  padding: 15px;
  margin: 0px 10px 0px 0px;
  border: 1px solid #ccc;
}

.chat-bot {
  position: fixed;
  bottom: 75px;
  right: 20px;
  width: 300px;
  max-height: 450px;
  background-color: white;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.chat-bot-header {
  background-color: #0058a3;
  color: white;
  padding: 6px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
}

.chat-bot-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.chat-bot-input {
  display: flex;
  border-top: 1px solid #ccc;
}

.chat-bot-input input {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom-left-radius: 10px;
}

.chat-bot-input button {
  background-color: #0058a3;
  color: white;
  border: none;
  margin-left:2px;
  cursor: pointer;
  padding-top : "2px";
  padding-bottom : "16px";
}


.tab-hos {
  color: #555;
  border: 1px solid #efefef;
}

.drag-handle {
  display: inline-block;
  margin-top: 10px;
  cursor: move;
}

.tab-content2 {
  display: none;
}

.tab-content2.active {
  display: block;
}


.scroll-x {
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scroll-y {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.overflow-y-auto {
  overflow-y: auto
}

.dropdown-scroll-container {
  height: calc(100vh - 30px);
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
}

#mobileSurveyModal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
  justify-content: center;
  align-items: center;
  z-index: 50;
}

#mobileSurveyContent {
  width: 400px;
  height: 700px;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

#mobileSurveyContent::before {
  content: '';
  display: block;
  width: 100%;
  height: 40px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
  position: absolute;
  top: 0;
  left: 0;
}

#mobileSurveyContent::after {
  content: '';
  display: block;
  width: 100%;
  height: 40px;
  background-color: #f1f1f1;
  border-top: 1px solid #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
}

#mobileSurveyContent .content {
  padding: 50px 20px 50px 20px;
  height: calc(100% - 100px);
  overflow-y: auto;
}

.tab-button2 {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  font-weight: 400;
  border: 1px solid #0058a3 !important;
  height: 30px;
  font-size: 0.9rem;
  padding: 3px 10px 3px 10px;
}

#offCanvas.collapsed .menu-text {
  display: none !important;
}
#offCanvas.expanded .menu-text {
  display: inline !important;
}
#offCanvas.collapsed ul[id^="submenu-"] {
  display: none !important;
}
#offCanvas.collapsed .submenu-toggle {
  display: none !important;
}

#offCanvas.collapsed ul li ul {
  background-color: white;
  min-width: 140px;
  border-radius: 4px;
}

#offCanvas.collapsed ul li ul li {
  padding: 5px 10px;
}
