@import url('default.css');

#trelloapp {
    display: flex;
    height: 100vh;

}

#taskArea {
    flex: 1;
    padding: 3px;

    overflow-y: auto;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 3px;
    height: 770px;
}

#ganttArea {
    flex: 2;
    padding: 3px;

    overflow-y: auto;
    border-radius: 3px;
    margin: 3px;
    height: 770px;
}

#splitter {

    width: 5px;
    background-color: #999;
    overflow-y: auto;
    cursor: col-resize;
    margin: 5px;
    height: 770px;
}

#taskForm input[type="text"],
#taskForm textarea,
#taskForm input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;

}



#taskForm {
    margin-bottom: 20px;
}

.gantt-table {
    width: 100%;
    border-collapse: collapse;
}

.gantt-table th,
.gantt-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
}



.gantt-table .timeline-column {
    width: 70%;
    background-color: #ffffff;
}

.timeline2 {
    display: flex;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.timeline2 div {
    margin-right: 2px;
}

.timeline2 .highlight {
    background-color: #0058a3;
}

.task-list li {
    position: relative;
    background: white;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    cursor: move;
    transition: background-color 0.2s ease;
}

.task-list li:active {
    cursor: move;
}

.task-list li .drag-indicator {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    color: #888;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 2px 5px;
    border-radius: 3px;
}

.task-list li .drag-indicator i {
    font-size: 14px;
    color: #4299e1;
}


.task-list li:active {
    cursor: move;
}

.task-list li.drag-over {
    background-color: #f2f2f2;
    /* Highlight drop target */
    border: 2px dashed #4299e1;
}


.task-list li button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: red;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.task-list li button:hover {
    color: darkred;
}


.custom-drag-icon {
    background-color: #555;
    color: #ffffff;
    font-size: 1.2rem;
    position: absolute;
    right: 5px;
    bottom: 8px;

}

.date-number {
    margin-bottom: 10px;
}